body {
  background: #FF0000;
  
}

.blockback {
    text-align: center;
    background: #FF0000;
    border: #FF0000 solid 0;
    margin: 0;
}

.blockback:before {
    content: '';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */

    /* For visualization 
    background: #808080; width: 5px;
    */
}

.block {
  text-align: center;
  background: #FF0000;
  border: #FF0000 solid 0;
  margin: 0;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  /*padding: 10px 10px;
  border: #FF0000 solid 0px;*/
  background: #FF0000;
 }

a#codepen { 
  display: block; 
  text-decoration: none; 
  color: #fff;  
  margin: 0 auto;
  border-radius: 5px; 
  padding: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  width: 75%;
  border: 1px solid transparent;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/codepen-fill-white.svg) #000 no-repeat;
  background-size: 80% 80%;
  background-position: -150% 50%;
}
a#codepen:hover, a#codepen:hover {
  background-color: #fff;
  color: #000;
  background-blend-mode: difference;
  border: 1px solid #fff;
}

a#blogpost { 
    display: block; 
    text-decoration: none; 
    color: #fff;  
    margin: 0 auto;
    border-radius: 5px; 
    padding: 2rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    width: 75%;
    border: 1px solid transparent;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/codepen-fill-white.svg) #000 no-repeat;
    background-size: 80% 80%;
    background-position: -150% 50%;
}
a#blogpost:hover, a#blogpost:hover {
    background-color: #fff;
    color: #000;
    background-blend-mode: difference;
    border: 1px solid #fff;
}